
__pycache__/

./audio_encoder/unav_curation/test/*
./audio_encoder/unav_curation/train/*
unav_dataset/data/unav100/audio_segments_2sec/test/*.wav
unav_dataset/data/unav100/audio_segments_2sec/train/*.wav
unav_dataset/data/unav100/raw_audios/*.wav
*.pth
*.ckpt
*.npy
.git

outputs/